.shorten-url-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  .shorten-url-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .shorten-url-input {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      width: 58vw;
      height: 50px;
      border: 0px;
      border-bottom: 2px solid teal;
    }

    .shorten-url-button {
      width: 200px;
      height: 50px;
      color: white;
      font-weight: 900;
      font-size: 1.5rem;
      background-color: orange;
      border: 0px;
    }
  }
}
